

<div class="row">
    <% @user.playlists.each do |playlist| %>
      <div class="col-md-6">
     <div class="panel panel-default">
      <div class="panel-heading">
       <%= link_to playlist.title, playlist %>
     </div>
     <div class='panel-body'>
          <p><%= playlist %></p>
     </p></strong>

        </div>
        <div class='panel-footer'>
       </div>
      </div>
    </div>
<% end %>
</div>
